<div class="page-wrapper">
  <div class="sidebar position-relative">
      <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
              <a href="" class="navbar-brand my-4 ms-3"><img _ngcontent-upr-c1="" src="../assets/company-logo.png"
                      alt="Company Logo"></a>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <!-- <div *ngIf="loginSuccess" class="alert alert-success" role="alert">
                  Login successful..!
                </div> 
                <div *ngIf="loginError" class="alert alert-danger" role="alert">
                  Login failed..!
              </div>  -->


              <div class="collapse navbar-collapse" id="navigationBar">
                  <ul class="navbar-nav navigation-top-link">
                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link" routerLink="../Admin_dashboardComponent"><i class="bi bi-house-door me-3"></i><span>Dashboard</span></a>
                      </li>
                      <!-- <li class="nav-item mb-2">
                          <a href="#" class="nav-link disabled"><i
                                  class="bi bi-speedometer2  me-3"></i><span>Subject</span></a>
                      </li> -->
                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link disabled"><i class="bi bi-bug  me-3"></i><span>Forum</span></a>
                      </li>
                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link disabled"><i class="bi bi-grid  me-3"></i><span>Library</span> </a>
                      </li>
                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link disabled"><i class="bi bi-people  me-3"></i><span>My Profile</span></a>
                      </li>
                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link" routerLink="../askme"><i class="bi bi-question-circle  me-3"></i><span>Ask me</span></a>
                      </li>

                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link" routerLink="../chatbot"><i class="bi bi-question-circle  me-3"></i><span>Chat</span></a>
                      </li>

                      <!-- <li class="nav-item mb-2">
                          <a href="#" class="nav-link" routerLink="../chatQuestion"><i class="bi bi-question-circle  me-3"></i><span>Questions</span></a>
                      </li> -->

                      <li class="nav-item mb-2">
                          <a href="#" class="nav-link disabled"><i class="bi bi-gear  me-3"></i><span>Settings</span></a>
                      </li>
                   
                  </ul>
              </div>

          </div>
      </nav>
  </div>
  <div class="outer-content-wrapper">
      <div class="top-header py-2 pe-5">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-5 offset-md-7">
                      <div class="d-flex">
                          <div class="input-group me-3">
                              <input type="text" class="form-control common-form-control" placeholder="Search Here">
                              <button type="button" class="btn btn-primary search-btn"><i class="bi bi-search"></i></button>
                          </div>

                          <div class="list-group list-group-horizontal list-group-flush">
                              <a class="list-group-item list-group-action me-2 px-3" href="#"><i class="bi bi-bell"></i></a>
                              <a class="list-group-item list-group-action mx-2 px-3" href="#"><i class="bi bi-person"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="dashboard-fliter py-2 px-4">
          <div class="container-fluid">
              <div class="row mx-0 align-items-center">


                  <div class="col-md-8">
                    <div class="col-md-8">
                      <button type="button" class="btn btn-primary me-3" style="background-color: #d0007a; border-color: transparent;"  (click)="navigateToAdminDashboard()">
                          <span class="material-icons" style="color: white;">arrow_back</span>
                      </button>
                  </div>
                  
                  
                  
                  </div>
                  <div class="col-md-4">
                    <button id="datapreview" type="button" class="btn-e20086"  (click)="preview()" >Preview</button>
                </div>                
      
              </div>
          </div>
      </div>
<!--========================================================================================================================================-->
<div class="scroll">
<div class="container mt-3">

  <div class="alert alert-success" role="alert" *ngIf="showSuccessMessage">
    Subtopic added successfully!
</div>

<div class="alert alert-success" role="alert" *ngIf="showUpdatedMessage">
    Subtopic Details Updated successfully!
</div>

  <form>
    <div class="form-row">
    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="labelName">Name</label>
      <input type="text" class="form-control" id="labelName" [(ngModel)]="labelName" name="labelName" placeholder="Enter Name">
    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="inputState">Subject</label>
      <select id="inputState" class="form-control" [(ngModel)]="selectedSubject" name="selectedSubject">
        <option selected>Select Subject</option>
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
      </select>
    </div>    
      <div class="form-row">
      <div class="form-group col-md-6 mb-3">
        <label for="exampleFormControlTextarea1">Information</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="textareaContent" name="textareaContent"></textarea>
      </div>
    </div>
  </form>

  <div class="form-group row">
    <div class="col-md-6 mb-3">
      <label for="exampleFormControlFile1">Select Files</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="addFiles" (change)="onFileSelected($event)" multiple>
          <label class="custom-file-label" for="addFiles">
            <i class="bi bi-upload"></i> <!-- Bootstrap Icons upload icon -->
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="contfiles">
    <div class="row mt-3">
      <div class="col-md-6">
        <!-- Selected Files -->
        <div *ngIf="selectedFiles.length > 0">
          <p>Selected Files:</p>
          <div *ngFor="let file of selectedFiles; let i = index">
            <div class="file-info">
              <span>
                {{ file.name.split('.')[0] }} ({{ file.size | bytes }}) - {{ getFileType(file) }}
              </span>
              <div class="file-actions">
                <button class="btn btn-primary btn-sm" (click)="previewFile(file)">Preview</button>
                <i class="fas fa-trash-alt delete-icon" (click)="deleteFile(file)"></i>
              </div>
            </div>
            <div class="form-group mt-2">
              <input type="text" class="form-control" placeholder="Enter description" [(ngModel)]="fileDescriptions[i]" [name]="'fileDescription' + i">            </div>
          </div>
        </div>

  

  

     <!-- Uploaded Files -->
<div *ngIf="uploadedFiles.length > 0">
  <p>Uploaded Files:</p>
  <div *ngFor="let file of uploadedFiles">
    <div class="file-info">
      <span>{{ file }}</span> <!-- Display the filename -->
      <div class="file-actions">
        <!-- For delete action, pass the file name as a string -->
        <i class="fas fa-trash-alt delete-icon" (click)="deleteFile(file)"></i>
      </div>
    </div>
  </div>
</div>

</div>

      <div class="dashboard-footer pe-5">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 text-end">
                      <button type="button" class="btn btn-primary coloured-btn me-3">Publish</button>
                      <button type="button" class="btn btn-primary coloured-btn" (click)="onSave()">{{ saveButtonText }}</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>