<div class="page-wrapper">
    <div class="sidebar position-relative">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="" class="navbar-brand my-4 ms-3"><img _ngcontent-upr-c1="" src="../assets/company-logo.png"
                        alt="Company Logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <!-- <div *ngIf="loginSuccess" class="alert alert-success" role="alert">
                    Login successful..!
                  </div> 
                  <div *ngIf="loginError" class="alert alert-danger" role="alert">
                    Login failed..!
                </div>  -->
  
  
                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav navigation-top-link">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../Admin_dashboardComponent"><i class="bi bi-house-door me-3"></i><span>Dashboard</span></a>
                        </li>
                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i
                                    class="bi bi-speedometer2  me-3"></i><span>Subject</span></a>
                        </li> -->
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-bug  me-3"></i><span>Forum</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-grid  me-3"></i><span>Library</span> </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-people  me-3"></i><span>My Profile</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../askme"><i class="bi bi-question-circle  me-3"></i><span>Ask me</span></a>
                        </li>
  
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatbot"><i class="bi bi-question-circle  me-3"></i><span>Chat</span></a>
                        </li>
  
                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatQuestion"><i class="bi bi-question-circle  me-3"></i><span>Questions</span></a>
                        </li> -->
  
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-gear  me-3"></i><span>Settings</span></a>
                        </li>
                     
                    </ul>
                </div>
  
            </div>
        </nav>
    </div>
    <div class="outer-content-wrapper">
        <div class="top-header py-2 pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="d-flex">
                            <div class="input-group me-3">
                                <input type="text" class="form-control common-form-control" placeholder="Search Here">
                                <button type="button" class="btn btn-primary search-btn"><i class="bi bi-search"></i></button>
                            </div>
  
                            <div class="list-group list-group-horizontal list-group-flush">
                                <a class="list-group-item list-group-action me-2 px-3" href="#"><i class="bi bi-bell"></i></a>
                                <a class="list-group-item list-group-action mx-2 px-3" href="#"><i class="bi bi-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
        <div class="dashboard-fliter py-2 px-4">
            <div class="container-fluid">
                <div class="row mx-0 align-items-center">
  
  
                    <!-- <div class="col-md-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="../Admin_dashboardComponent">Admin Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Add Subject</li>
                            </ol>
                          </nav>
                    </div> -->
                            
        
                </div>
            </div>
        </div>
  <!--========================================================================================================================================-->
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                   
                    <!-- <div class="alert alert-success" role="alert" *ngIf="showPublishmessage">
                        Subject Published successfully!
                    </div>  -->

                    <form class="fm">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name" name="name" id="name">
                        </div>
                        
                        <div class="form-group">
                          <label for="email">Email</label>
                          <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email" id="email" #emailField="ngModel">
                            <span class="input-group-text">@telekom-healthcare.com</span>
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="mobile">Mobile Number</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">+91</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Enter Mobile Number" [(ngModel)]="mobile" name="mobile" id="mobile">
                            </div>
                          </div>
                        
                        <button type="button" class="btn btn-primary" style="background-color: #e20086;" (click)="createAdmin()">Create</button>
                      </form>
                </div>
            </div>

            <div class="dashboard-footer pe-5">
                <div class="container-fluid">
                  <div class="row">
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

  