<!-- create-slide.component.html -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="page-wrapper">
    <div class="sidebar position-relative">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="" class="navbar-brand my-4 ms-3"><img _ngcontent-upr-c1="" src="../assets/company-logo.png"
                        alt="Company Logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav navigation-top-link">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../Admin_dashboardComponent"><i class="bi bi-house-door me-3"></i><span>Dashboard</span></a>
                        </li>
                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../admin_subject"><i
                                    class="bi bi-speedometer2  me-3"></i><span>Subject</span></a>
                        </li> -->
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-bug  me-3"></i><span>Forum</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-grid  me-3"></i><span>Library</span> </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-people  me-3"></i><span>My Profile</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../askme"><i class="bi bi-question-circle  me-3"></i><span>Ask me</span></a>
                        </li>

                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatbot"><i class="bi bi-question-circle  me-3"></i><span>Chat</span></a>
                        </li> -->

                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatQuestion"><i class="bi bi-question-circle  me-3"></i><span>Questions</span></a>
                        </li> -->

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-gear  me-3"></i><span>Settings</span></a>
                        </li>
                     
                    </ul>
                    <ul class="navbar-nav d-flex">
                        <!-- Other sidebar items -->
                      
                        <li class="nav-item mb-2">
                          <!-- <a href="javascript:void(0);" class="nav-link" >
                            <i class="bi bi-box-arrow-right me-3"></i>
                            Logout
                          </a> -->
                        </li>
                      </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="outer-content-wrapper">
        <div class="top-header py-2 pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="d-flex">
                            <div class="input-group me-3">
                                <input type="text" class="form-control common-form-control" placeholder="Search Here">
                                <button type="button" class="btn btn-primary search-btn"><i class="bi bi-search"></i></button>
                            </div>

                            <div class="list-group list-group-horizontal list-group-flush">
                                <a class="list-group-item list-group-action me-2 px-3" href="#"><i class="bi bi-bell"></i></a>
                                <a class="list-group-item list-group-action mx-2 px-3" href="#"><i class="bi bi-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="dashboard-fliter py-2 px-4">
          <!-- <div class="container-fluid"> -->
              <div class="row mx-0 align-items-center">
                  <div class="col-md-8">
                
                  </div>
                  <div class="col-md-4" *ngIf="role === 'admin'">
                    <button type="button" class="btn-e20086" routerLink="../createslide" [queryParams]="{ module: 'GRM' }">Create</button>
                  </div>
      
              </div>
          <!-- </div> -->
      </div>

        <div class="inner-content-wrapper ">
            <!-- <div class="container-fluid "> -->
<!-- <div class="row"> -->

   
    <!-- <div class="col-md-10 offset-md-1"> -->
                <!-- <div class="row mx-0 ">
                    <div class="col-md-6">
                        <h3 class="">iMedOne Knowledge</h3>
                    </div>
                    <div class="col-md-6">
                        <h3>Skill Knowledge</h3>
                    </div>
                </div> -->


   <!---===============================================================================================================================================-->             
                <div class="knowledge-wrapper">
                  <div class="content-outer-wrapper d-flex justify-content-start">
                    <div class="container-fluid">
                      <div class="col-md-12">
                        <div
                          id="carouselExampleIndicators"
                          class="carousel slide"
                          data-bs-ride="carousel"
                        >
                          <div class="carousel-indicators">
                            <!-- <button
                              type="button"
                              data-bs-target="#carouselExampleIndicators"
                              data-bs-slide-to="0"
                              class="active"
                              aria-current="true"
                              aria-label="Slide 1"
                            ></button>
                            <button
                              type="button"
                              data-bs-target="#carouselExampleIndicators"
                              data-bs-slide-to="1"
                              aria-label="Slide 2"
                            ></button>
                            <button
                              type="button"
                              data-bs-target="#carouselExampleIndicators"
                              data-bs-slide-to="2"
                              aria-label="Slide 3"
                            ></button> -->
                            <!-- Add indicators for the new slides -->
                            <ng-container *ngFor="let slide of slides; let i = index">
                              <button
                                type="button"
                                [attr.data-bs-target]="'#carouselExampleIndicators'"
                                class="active"
                              aria-current="true"
                                [attr.data-bs-slide-to]="i"
                                [attr.aria-label]="'Slide ' + (i)"
                              ></button>
                            </ng-container>
                          </div>
                  
                          <div class="carousel-inner">
                            <!-- 1st slide of carousel -->
                            <!-- <div class="carousel-item active">
                              <div class="content-wrapper">
                                <div class="content-inner-wrapper">
                                  <app-carousel
                                    [title]="contentData.title"
                                    [subTitle]="contentData.subTitle"
                                    [performer]="contentData.performer"
                                    [imageSrc]="contentData.imageSrc"
                                    [modalId]="contentData.modalId"
                                    [modalTarget]="contentData.modalTarget"
                                    [activeTab]="activeTab"
                                    [videoData]="videoData"
                                  ></app-carousel>
                                </div>
                              </div>
                            </div> -->
                  
                            <!-- 2nd slide of carousel -->
                            <!-- <div class="carousel-item">
                              <div class="content-wrapper">
                                <div class="content-inner-wrapper">
                                  <app-carousel
                                    [title]="contentData1.title"
                                    [subTitle]="contentData1.subTitle"
                                    [performer]="contentData1.performer"
                                    [imageSrc]="contentData1.imageSrc"
                                    [modalId]="contentData1.modalId"
                                    [modalTarget]="contentData1.modalTarget"
                                    [activeTab]="activeTab"
                                    [videoData]="videoData"
                                  ></app-carousel>
                                </div>
                              </div>
                            </div> -->
                  
                            <!-- 3rd slide of carousel -->
                            <!-- <div class="carousel-item">
                              <div class="content-wrapper">
                                <div class="content-inner-wrapper">
                                  <app-carousel
                                    [title]="contentData3.title"
                                    [subTitle]="contentData3.subTitle"
                                    [performer]="contentData3.performer"
                                    [imageSrc]="contentData3.imageSrc"
                                    [modalId]="contentData3.modalId"
                                    [modalTarget]="contentData3.modalTarget"
                                    [activeTab]="activeTab"
                                    [videoData]="videoData"
                                  ></app-carousel>
                                </div>
                              </div>
                            </div> -->
                            <!-- [localData]="localData" -->
                  
                            <!-- newlycreated slides -->
                            <div *ngIf="slides.length > 0; else noSlidesMessage">
                              <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
                                <div class="content-wrapper">
                                  <div class="content-inner-wrapper">
                                    <app-carousel
                                      [title]="slide.title"
                                      [subTitle]="slide.subtitle"
                                      [description]="slide.description"
                                      [imageSrc]="slide.image" 
                                      [activeTab]="activeTab"
                                      [videoData]="slide.externalVideos"
                                      [localData]="slide.internalVideos"
                                    ></app-carousel>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <ng-template #noSlidesMessage>
                              <p>No slides available for the GRM module.</p>
                            </ng-template>
                                
                          </div>
                  
                          <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev"
                          >
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                              <i class="bi bi-chevron-left"></i>
                            </span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next"
                          >
                            <span class="carousel-control-next-icon" aria-hidden="true">
                              <i class="bi bi-chevron-right"></i>
                            </span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  </div>
                <!-- </div> -->
               
               

  <!---===============================================================================================================================================-->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
        <!-- <div class="dashboard-footer pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-primary grey-btn me-3">Cancel</button>
                        <button type="button" class="btn btn-primary coloured-btn">Save</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

