<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="page-wrapper">
    <div class="sidebar position-relative">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="" class="navbar-brand my-4 ms-3"><img _ngcontent-upr-c1="" src="../assets/company-logo.png"
                        alt="Company Logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav navigation-top-link">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../Admin_dashboardComponent"><i class="bi bi-house-door me-3"></i><span>Dashboard</span></a>
                        </li>
                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../admin_subject"><i
                                    class="bi bi-speedometer2  me-3"></i><span>Subject</span></a>
                        </li> -->
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-bug  me-3"></i><span>Forum</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-grid  me-3"></i><span>Library</span> </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-people  me-3"></i><span>My Profile</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../askme"><i class="bi bi-question-circle  me-3"></i><span>Ask me</span></a>
                        </li>

                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatbot"><i class="bi bi-question-circle  me-3"></i><span>Chat</span></a>
                        </li> -->

                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatQuestion"><i class="bi bi-question-circle  me-3"></i><span>Questions</span></a>
                        </li> -->

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-gear  me-3"></i><span>Settings</span></a>
                        </li>
                     
                    </ul>
                    <ul class="navbar-nav d-flex">
                        <!-- Other sidebar items -->
                      
                        <li class="nav-item mb-2">
                          <a href="javascript:void(0);" class="nav-link" (click)="logout()" >
                            <i class="bi bi-box-arrow-right me-3"></i>
                            Logout
                          </a>
                        </li>
                      </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="outer-content-wrapper">
        <div class="top-header py-2 pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="d-flex">
                            <div class="input-group me-3">
                                <input type="text" class="form-control common-form-control" placeholder="Search Here">
                                <button type="button" class="btn btn-primary search-btn"><i class="bi bi-search"></i></button>
                            </div>
  
                            <div class="list-group list-group-horizontal list-group-flush">
                                <a class="list-group-item list-group-action me-2 px-3" href="#"><i class="bi bi-bell"></i></a>
                                <a class="list-group-item list-group-action mx-2 px-3" href="#"><i class="bi bi-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
        <div class="dashboard-fliter py-2 px-4">
            <div class="container-fluid">
                <!-- <div class="row mx-0 align-items-center">
                    <div class="col-md-4">
                        <div class="row  align-items-center">
                            <label for="" class="input-label common-form-label col-md-3">Select Role</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control common-form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row  align-items-center">
                            <label for="" class="input-label common-form-label col-md-3">Select Domain</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control common-form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <button type="button" class="btn btn-primary primary-btn coloured-btn btn-block">GO</button>
                            



                    </div>

                </div> -->
            </div>
        </div>


   <!---===============================================================================================================================================-->             
   <div class="containerbg">
    <div *ngIf="subtopic">
      <h5>Subtopic Data</h5>
      <p>{{ subtopic.labelName }}</p>
      <p>{{ subtopic.selectedSubject }}</p>
      <p>{{ subtopic.textareaContent }}</p>
    </div>
    <div *ngFor="let file of recentlyUploadedFilenames; let i = index">
      <div>
        <img *ngIf="isImageFile(file)" [src]="getFilePath(file)" alt="Image Preview" width="400" height="400">
        <video *ngIf="isVideoFile(file)" [src]="getFilePath(file)" width="400" height="400" controls></video>
        <!-- Display the corresponding file description -->
        <p>{{subtopic.fileDescriptions[i]}}</p>
      </div>
    </div>
    <div *ngIf="!subtopic">
      <p>No data available for the specified subtopic.</p>
    </div>
  </div>
  
                <!-- <div *ngFor="let file of recentlyUploadedFilenames">
                    <ng-container *ngIf="isImageFile(file)">
                      <img [src]="getFilePath(file)" alt="Image Preview" width="400" height="400">
                    </ng-container>
                    <ng-container *ngIf="isVideoFile(file)">
                      <video  width="400" height="400" controls>
                        <source [src]="getFilePath(file)" type="video/mp4" >
                        Your browser does not support the video tag.
                      </video>
                    </ng-container>
                  </div> -->
                   </div>

        </div>
        <!-- <div class="dashboard-footer pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-primary grey-btn me-3">Cancel</button>
                        <button type="button" class="btn btn-primary coloured-btn">Save</button>
                    </div>
                </div>
            </div>
        </div> -->
