
.card {
    max-width: 500px; /* Decrease width */
    height: 400px; /* Increase height */
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    margin-top: 110px; /* Center horizontally */
    margin-left: 200px;
}

.card-body {
    height: 100%; /* Ensure card body fills card height */
    padding: 30px;
    display: flex; /* Use flexbox to vertically center content */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center content vertically */
}


.form-group {
    margin-bottom: 20px;
   
}

